.Block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    align-content: center;
    border: 1px solid #282c34;
    margin: 5px;
    color: #fff;
}

.Letter {
    font-size: 48px;
}

.green {
    background-color: seagreen;
}

.orange {
    background-color: orange;
}

.grey {
    background-color: grey;
}

.white {
    background-color: whitesmoke;
    color: #000;
}
